.social-login {
    display: flex;
    gap: 15px; /* 버튼 간격을 조절 */
}
.social-button {
    width: 75px; /* 버튼 크기 */
    height: 75px;
    border-radius: 50%; /* 원형로 만듭니다 */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.social-img {
    width: 65px; /* 이미지 크기 */
    height: 65px;
    object-fit: cover;
}

.social-kakao {
    width: 65px; /* 이미지 크기 */
    height: 65px;
    object-position: left; /* 카카오 아이콘 부분만 보이도록 왼쪽 정렬 */
    border-radius: 50%; /* 원형으로 만듭니다 */
}