.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7; /* 배경 색상 */
}
.logo {
    font-size: 24px; /* 로고 폰트 크기 */
    margin-bottom: 20px; /* 로고와 버튼 사이 간격 */
}