* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width:100%;
}

/*로그인 영역*/
.app-container {
  width: 30%;  /* 일반적인 모바일 화면 너비 고정 */
  margin: 0 auto;  /* 화면 중앙에 고정 */
  border: 1px solid #ddd;  /* 디버깅을 위한 임시 테두리 */
  box-sizing: border-box;  /* padding 포함한 전체 크기 조정 */
}

/*로그인 영역의 버튼*/
.social-login{
    margin-top:50px;
}
.social-login > button{
    width : 45%;
}

.App-header {
  background-color: #282c34; /* 헤더 배경색 설정 */
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 아이템 수직 중앙 정렬 */
  justify-content: center; /* 아이템 수평 중앙 정렬 */
  font-size: calc(10px + 2vmin); /* 동적으로 폰트 크기 조정 */
  color: white; /* 텍스트 색상 흰색으로 설정 */
}

/* 미디어 쿼리 */
@media screen and (max-width: 1400px) {
    /*로그인 영역*/
   .app-container {
       width: 45%;
   }

}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
   /*로그인 영역*/
   .app-container {
       width: 40%;
   }
   /*로그인 영역의 버튼*/
   .social-login > button{
       width : 45%;
   }
}

@media screen and (min-width: 901px) and (max-width: 1023px) {
   /*로그인 영역*/
   .app-container {
       width: 60%;
   }

   /*로그인 영역의 버튼*/
  .social-login > button{
      width : 45%;
  }
}

@media screen and ( min-width : 465px) and (max-width: 900px){
    /*로그인 영역*/
   .app-container {
       width: 60%;
   }

   /*로그인 영역의 버튼*/
  .social-login > button{
      width : 45%;
  }
}
/* 스마트폰 가로/세로용*/
@media screen and (max-width: 464px) {
    /*로그인 영역*/
    .app-container {
        width: 100%
    }

    /* 마이페이지 영역*/
    .App-header {
        font-size: calc(20px + 4vmin); /* 데스크탑에서 폰트 크기를 두 배로 설정 */
    }
    /*로그인 영역의 버튼*/
    .social-login > button{
        width : 45%;
    }

    /* 마이페이지 영역*/
    /* 마이페이지 영역 버튼 그룹*/
    .button-group{
        width:100%;
    }
}
